# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.ai

dist-app
out

*.db
*.rar
*.zip

electron/
для электрона/
flowers.db
src/get_files.py
src/project_files.txt
src/components/ProjectsWindow/
src/components/Modal/
.gitignore