.flower-type-button {
  border: 1px solid #e6e6e6;
  background: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  width: 100%;
  position: relative;
}

.flower-type-button:hover {
  background: #f4f4f4;
}

.flower-type-button.selected {
  background-color: rgb(200, 200, 200);
}

.flower-type-button.selected::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.flower-type-button-image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  margin-bottom: 6px;
}

.flower-type-button-name {
  font-size: 0.9rem;
  color: #343434;
  text-align: center;
  margin-top: 6px;
  word-break: break-word;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
