.layer-control {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  height: auto;
  min-height: 100%;
  background-color: transparent;
  border-radius: 0.625rem;
  overflow: visible;
  position: relative;
}

.layer-tile {
  height: 0.7rem;
  width: 2rem;
  background-color: #F4F4F4;
  border-radius: 1rem;
  transition: all 0.2s ease;
  flex-shrink: 0;
  position: relative;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15)
}

.layer-tile.current {
  background-color: #A2D40A;
}

.layer-control .layer-tile:first-child {
  margin-top: 0;
}

.layer-control::-webkit-scrollbar {
  display: none;
}

.layer-control {
  -ms-overflow-style: none;
  scrollbar-width: none;
}